body {
    background-color: HoneyDew;
    font-family: 'Poppins', sans-serif;
}

.navigation-bar {
    font-weight: bold;
    font-size: 25px;
    float: right;
    margin-top: 50px;
    margin-right: 150px;
}

.navigation-bar a {
    text-decoration: none;
    padding-left: 30px;
    color: saddlebrown;
}

.navigation-bar a:hover {
    text-decoration: underline;
    color: goldenrod;
}

#logo {
    width: 200px;
    height: 200px;
    margin-left: 30px;
}

.focus {
    width: 100%;
    height: 450px;
    text-align: center;
}

.focus p {
    color: goldenrod;
    font-size: 22;
}

.focus h1 {
    font-size: 60px;
}

.focus button {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: goldenrod;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
    display: inline-block;
}

.button1 {
    background-color: goldenrod;
    margin-right: 20px;
}

.button2:hover {
    cursor: pointer;
    background-color: goldenrod;
}

.stat {
    height: 200px;
    width: 100%;
    display: flex;
    position: absolute;
    background-color: aliceblue;
}

.project-complete {
    width: 21%;
    height: 200px;
    margin-left: 100px;
    margin-top: 20px;
}

.briefcase {
    background-color: rgba(218, 165, 32, 0.537);
    width: 130px;
    height: 130px;
    border-radius: 80%;
    margin-top: 15px;
}

.project-complete p {
    width: 63%;
    height: 150px;
    margin-top: 0%;
    margin-bottom: 0%;
    float: right;
    font-size: 20px;
    color: goldenrod;
    font-size: 20px;
    font-weight: bold;
}

.project-complete p strong {
    color: green;
    font-size: 70px;
    font-weight: bolder;
}

.happy {
    width: 21%;
    height: 200px;
    margin-bottom: 250px;
    margin-left: 70px;
    position: relative;
}

.joy {
    background-color: rgba(218, 165, 32, 0.345);
    width: 37%;
    height: 130px;
    border-radius: 80%;
    margin-top: 25px;
}

.happy p {
    width: 58%;
    height: 150px;
    float: right;
    font-size: 20px;
    color: goldenrod;
    font-size: 20px;
    font-weight: bold;
    margin-left: 1%;
}

.happy p strong {
    color: green;
    font-size: 70px;
    font-weight: bolder;
}

.cup {
    width: 21%;
    height: 200px;
    position: relative;
    float: right;
    margin-right: 50px;
}

.coffee {
    background-color: rgba(218, 165, 32, 0.345);
    width: 35%;
    height: 130px;
    border-radius: 80%;
    margin-top: 25px;
}

.cup p {
    width: 60%;
    height: 150px;
    float: right;
    font-size: 20px;
    color: goldenrod;
    font-size: 20px;
    font-weight: bold;
}

.cup strong {
    color: green;
    font-size: 70px;
    font-weight: bolder;
}

.night {
    width: 21%;
    height: 200px;
    position: relative;
    float: right;
    margin-right: 30px;
}

.sleep {
    background-color: rgba(218, 165, 32, 0.345);
    width: 34%;
    height: 130px;
    border-radius: 80%;
    margin-top: 25px;
}

.night p {
    width: 60%;
    height: 150px;
    float: right;
    font-size: 20px;
    color: goldenrod;
    font-size: 20px;
    font-weight: bold;
}

.night strong {
    color: green;
    font-size: 70px;
    font-weight: bolder;
}

.details {
    float: right;
    width: 60%;
    margin-top: 0;
    text-align: justify;
    margin-right: 0px;
    min-height: 600px;
    min-width: 1150px;
}

.details p {
    margin-bottom: 0;
    margin-top: 30px;
    margin-left: 70px;
    color: goldenrod;
}

.details h1 {
    font-size: 54;
    font-weight: bolder;
    margin-left: 70px;
    margin-top: 3px;
    font-family: sans-serif;
    margin-bottom: 1%;
}

#summary {
    color: midnightblue;
    font-size: 22;
    margin-top: 0;
}

#aboutphoto {
    width: 22%;
    height: 650px;
    margin-left: 300px;
    margin-top: 200px;
    float: left;
}

.table1details {
    font-size: 28px;
    margin-top: 15px;
    margin-left: 20px;
    min-height: 350px;
}

td {
    padding-left: 50px;
    margin-bottom: 20px;
}

.heavy {
    padding-left: 0;
    position: relative;
    height: 100px;
    width: 80%;
    text-align: center;
    font-size: 50px;
    color: DarkSeaGreen;
}

.head-service {
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
    color: sandybrown;
    letter-spacing: 2px;
    text-shadow: 3px 3px slategray;
    text-transform: uppercase;
}

.all {
    display: flex;
    margin-top: 80px;
}

.bo {
    box-shadow: 10px 10px 40px gray;
    width: 20%;
    height: 250px;
    margin-left: 60px;
    text-align: center;
    padding-top: 40px;
}

.bo h3 {
    color: chocolate;
    font-size: 35px;
}

.bo p {
    color: DimGray;
    font-size: 20px;
    text-align: center;
}

.webdesign {
    border-left: 10px solid;
    border-radius: 10px;
    border-image: linear-gradient(#f6b73c, #4d9f0c);
    border-image-slice: 1;
}

.webapp {
    border-left: 10px solid;
    border-radius: 10px;
    border-image: linear-gradient(Chartreuse, #f6b73c);
    border-image-slice: 1;
}

.webdev {
    border-left: 10px solid;
    border-radius: 10px;
    border-image: linear-gradient( Cyan, Chartreuse);
    border-image-slice: 1;
}

.seo {
    border-left: 10px solid;
    border-radius: 10px;
    border-image: linear-gradient( Gold, Cyan);
    border-image-slice: 1;
}